<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Indvidual Book</title>
</head>
<body>
  <div class="<%=book.title %>">
    <h2><%= book.title %></h2>
    <p>Author <%= book.author %> because <%=book.description %></p>
    <p><%= book.status %>, <%= book.due %></p>
  </div>
</body>
</html>