<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/base.css">
  <title>Form Page</title>
</head>
<body>
  <p><a href="/">Home</a></p>
  <h1>Edit a Book</h1>
  <form action="/update/<%= book.id %>?_method=PUT" method="POST">
    <input type="hidden" name="_method" value="put" />
    <input name="title" value="<%= book.title %>" />
    <input name="author" value="<%= book.author %>" />
    <input name="isbn" value="<%= book.isbn %>" />
    <input name="description" value="<%= book.description %>" />
    <input name="image_url" value="<%= book.image_url %>" />
    <input type="submit" value="UPDATE" />
  </form>
</body>
</html>

